[submodule "contrib/concurrentqueue"]
	path = contrib/concurrentqueue
	url = https://github.com/cameron314/concurrentqueue
[submodule "contrib/plog"]
	path = contrib/plog
	url = https://github.com/SergiusTheBest/plog
[submodule "contrib/c_procs"]
	path = contrib/c_procs
	url = https://github.com/msaf1980/c_procs
